---
title: URL introuvable
description: >
  Malheureusement, l'URL souhaitée n'a pas pu être trouvée.
slug: /fr/404
lang: fr
---

<div class="container lang-page">
  <h1>Suisse Municipal</h1>
  <p>L'URL souhaitée n'existe plus (plus).</p>
  <div><a class="btn" href="/fr/">Retour à la page d'accueil</a></div>
</div>
