---
title: Nous contacter
description: >
  Nous contacter Suisse Municipal info@suissemunicipal.ch
slug: /fr/contact/
lang: fr
---

<section>
  <div class="container">
    <h1>Nous contacter</h1>
    <p>Suisse Municipal</p>
    <p><a href="mailto:info@suissemunicipal.ch">info@suissemunicipal.ch</a></p>
  </div>
</section>
