---
title: Home
description: >
  Suisse Municipal GmbH organise des salons
  mobiles. Les visiteurs y ont la possibilité non seulement de regarder les
  machines / véhicules exposés, mais également de les tester sur place.
lang: fr
---

<div class="container">
  <div class="shows">
    <div class="show winter">
      <h2>Winter&shy;show</h2>
      <h3>
        Le 30 janvier 2019, Gurnigel, Rüschegg <br />
        Le 31 janvier 2019, Elm, champ de tir blindé Wicheln
      </h3>
      <div class="right">
        <p>
          Fraises à neige, chasse-neige, chasse-neige, souffleuses à neige...<br />
          Essais approfondis des véhicules.
        </p>
        <a class="btn" href="/fr/wintershow-2019/">Plus d'informations</a>
      </div>
    </div>

    <div class="show summer">
      <h2>Suisse Municipal 2019</h2>
      <h3>
        25 - 26 septembre 2019 <br />
        Aérodrome St. Stephan
      </h3>
      <div class="right">
        <p>Balayer, laver, tondre...<br />Essais approfondis des véhicules.</p>
        <a class="btn" href="/fr/suisse-municipal-2019/">Plus d'informations</a>
      </div>
    </div>
  </div>
</div>
