---
title: Nous avons bien reçu votre inscription
description: >
  Merci pour votre inscription.
image: /img/wintershow.jpg
slug: /fr/registration-received/
lang: fr
---

<section class="winter show2022">
  <div class="container">
    <a class="back-link" href="/fr/wintershow-2022">&#8592; Retour</a>
    <h1>Nous avons bien reçu votre inscription</h1>
  </div>
</section>

<section>
  <div class="container">
    <h2>Merci pour votre inscription!</h2>
  </div>
</section>
