---
title: Suisse Municipal 2019
lang: fr
---

<section class="summer">
  <div class="container">
    <a class="back-link" href="/fr">&#8592; Retour</a>
    <h1>Suisse Municipal 2019</h1>
    <h3>
      25 - 26 septembre 2019 <br />
      Aérodrome St. Stephan
    </h3>
  </div>
</section>

<section>
  <div class="container">
    <h2>Contexte de la foire Suisse Municipal</h2>
    <p>
      Suisse Municipal est une foire spécialisée dans le domaine communal, axée
      sur l’essai des véhicules. Tous les visiteurs ont la possibilité de
      conduire et manier les véhicules / machines sur un grand terrain d’essai.
    </p>
    <h2>Comment ça marche?</h2>
    <p>
      Comme toujours, les exposants se voient remettre un stand dont ils peuvent
      choisir la surface: 50 m2, 150 m2 ou 300 m2. Les machines et accessoires
      sont présentés sur cette aire d’exposition. Les visiteurs peuvent alors
      aller tester une machine sur le terrain d’essai en compagnie d’un
      responsable du stand. Par ailleurs, tous les exposants disposent d’une
      grande tente où les visiteurs peuvent utiliser les chèques repas
      distribués par les exposants. Un espace suffisant est également prévu pour
      mener des entretiens professionnels ou de brèves conversations.
    </p>
    <p>Vos avantages</p>
    <ul>
      <li>Contact personnel avec des personnes intéressées</li>
      <li>Les avantages de votre machine peuvent être présentés en direct</li>
      <li>Buochs jouit d’une situation très centrale</li>
      <li>Pas de stress dû à la restauration des visiteurs sur le stand</li>
    </ul>

    <p>
      <a
        class="btn"
        href="/attachments/suisse-municipal-2019/Ausstellerreglement_FR.pdf"
        >Règlement (PDF)</a
      >&nbsp; &nbsp;
      <a
        class="btn"
        href="/attachments/suisse-municipal-2019/Anmeldung-mit-Packeten-2019_FR.pdf"
        >Formulaire d’inscription (PDF)</a
      >&nbsp; &nbsp;
    </p>
  </div>
</section>
