---
title: Wintershow 2019
description: >
  Faites l'expérience de machines et d'équipements professionnels en
  direct sur le site de l'entreprise. l'utilisation hivernale la plus
  difficile.
image: /img/wintershow.jpg
lang: fr
---

<section class="winter">
  <div class="container">
    <a class="back-link" href="/fr">&#8592; Retour</a>
    <h1>Wintershow</h1>
    <h2>
      Le 30 janvier 2019, Gurnigel, Rüschegg <br />
      Le 31 janvier 2019, Elm, champ de tir blindé Wicheln
    </h2>
  </div>
</section>

<section>
  <div class="container">
    <h2>Wintershow</h2>
    <div class="cols">
      <div>
        <p>
          Faites l'expérience de machines et d'équipements professionnels en
          direct sur le site de l'entreprise. l'utilisation hivernale la plus
          difficile.
        </p>
        <p>
          Les présentations avec repas chauds débuteront à 11h et se
          poursuivront jusqu'à 11h. ont lieu par tous les temps. Les
          emplacements sont bien signalisés.
        </p>
        <h3>Lieu et date</h3>
        <ul>
          <li>Le 30 janvier 2019, Gurnigel, Rüschegg</li>
          <li>Le 31 janvier 2019, Elm, champ de tir blindé Wicheln</li>
        </ul>
        <a class="btn" href="/attachments/wintershow-2019/Flyer_2019_FR.pdf"
          >Flyer (PDF)</a
        >
      </div>
      <div style="margin: 1em 0;">
        <img src="/img/wintershow-2019/logos-fr.jpg" alt="Logos" />
      </div>
    </div>
  </div>
</section>
