---
title: Wintershow 2020
description: >
  Faites l'expérience de machines et d'équipements professionnels en
  direct sur le site de l'entreprise. l'utilisation hivernale la plus
  difficile.
image: /img/wintershow.jpg
slug: /fr/wintershow-2020/
lang: fr
---

<section class="winter">
  <div class="container">
    <a class="back-link" href="/fr">&#8592; Retour</a>
    <h1>Wintershow 2020</h1>
    <h2>
      22 au 23 janvier 2020 <br />
      6490 Andermatt
    </h2>
  </div>
</section>

<section>
  <div class="container">
    <h2>Wintershow</h2>
    <div class="cols">
      <div>
        <p>
          Faites l'expérience de machines et d'équipements professionnels en
          direct sur le site de l'entreprise. l'utilisation hivernale la plus
          difficile.
        </p>
        <p>
          Les présentations avec repas chauds débuteront à 11h et se
          poursuivront jusqu'à 11h. ont lieu par tous les temps. Les
          emplacements sont bien signalisés.
        </p>
        <h3>Lieu et date</h3>
        <ul>
          <li>
            22 au 23 janvier 2020 à 6490 Andermatt
          </li>
        </ul>
      </div>
    </div>

    <p>
      <a class="btn" href="/attachments/wintershow-2020/Règlement.pdf"
        >Règlement (PDF)</a
      >&nbsp; &nbsp;
      <a
        class="btn"
        href="/attachments/wintershow-2020/Anmeldung_Wintershow_2020_FR.pdf"
        >Formulaire d’inscription (PDF)</a
      >&nbsp; &nbsp;
    </p>
  </div>
</section>
