---
title: Wintershow 2021
description: >
  Faites l'expérience de machines et d'équipements professionnels en
  direct sur le site de l'entreprise. l'utilisation hivernale la plus
  difficile.
image: /img/wintershow.jpg
slug: /fr/wintershow-2021/
lang: fr
---

<section class="winter show2020">
  <div class="container">
    <a class="back-link" href="/de">&#8592; Zurück</a>
    <h1>Wintershow 2022</h1>
    <h2>
      26 au 27 janvier 2022 <br />
      Parking du téléphérique du Säntis, Schwägalp
    </h2>
  </div>
</section>

<section>
  <div class="container">
    <h2>Devenez exposant!</h2>

    <p>
      Les avantages de votre participation au Wintershop de Suisse Municipal:
    </p>

    <ul>
      <li>Wintershow le plus grand et le plus connu de Suisse</li>
      <li>Spectacle en direct spectaculaire</li>
      <li>Show international - Plus de 10'000 contacts sont créés</li>
      <li>Une navette gratuite depuis différentes localités suisses</li>
      <li>Une situation attrayante et centrale</li>
      <li>Places de parking gratuites</li>
      <li>Apéritif des exposants le premier soi</li>
    </ul>
  </div>
</section>
