---
title: Sprache wählen
lang: de
---

<div class="container lang-page">
  <h1>Suisse Municipal</h1>
  <div>
    <a class="btn" href="/de/">Deutsch</a>
    <a class="btn" href="/fr/">Français</a>
  </div>
</div>
