<header>
  <div class="container">
    <nav>
      <ul>
        <li class="logo">
          <a href="/de/">
            <img class="logo" src="/img/logo-web.svg" alt="Logo" />
          </a>
        </li>
        <li><a href="/de/about">Über uns</a></li>
        <li><a href="/de/contact">Kontakt</a></li>
      </ul>
    </nav>
  </div>
</header>
