<header>
  <div class="container">
    <nav>
      <ul>
        <li class="logo">
          <a href="/fr/">
            <img class="logo" src="/img/logo-web.svg" alt="Logo" />
          </a>
        </li>
        <li><a href="/fr/about">À propos de nous</a></li>
        <li><a href="/fr/contact">Nous contacter</a></li>
      </ul>
    </nav>
  </div>
</header>
