---
title: URL nicht gefunden
description: >
  Leider konnte die gewünschte URL nicht gefunden werden.
slug: /de/404
lang: de
---

<div class="container lang-page">
  <h1>Suisse Municipal</h1>
  <p>Die gewüschte URL existiert leider nicht (mehr).</p>
  <div><a class="btn" href="/de/">Zurück zur Startseite</a></div>
</div>
