---
title: Über uns
lang: de
---

<section>
  <div class="container">
    <h1>Über uns</h1>
    <p>
      Um den Interessenten die Kommunal- und Reinigungsmaschinen bestmöglich
      präsentieren zu können, organisiert die Suisse Municipal GmbH bewegte
      Messen. Dabei haben die Besucher die Möglichkeit, die ausgestellten
      Maschinen / Fahrzeuge nicht nur anzuschauen, sondern gleich vor Ort selbst
      zu testen.
    </p>
    <p>
      Dank dieser innovativen Messe entfällt die aufwändige
      Produkte-Präsentation beim Kunden vor Ort. Im Gegenzug können die Besucher
      einen direkten Vergleich aller Produkte an einem Tag machen.
    </p>

    <b>
      Einige Gründe für Ihre Teilnahme als Aussteller der Suisse Municipal:
    </b>
    <ul>
      <li>
        Innovatives neues Messekonzept in der Schweiz, welches im Ausland
        bereits grosse Erfolge feiert
      </li>
      <li>Die Vorteile Ihrer Maschine können live vorgeführt werden</li>
      <li>Persönlicher Kontakt mit Interessenten und Entscheider</li>
      <li>Kostengünstige Messen (ohne versteckte Zusatzkosten)</li>
      <li>Kein Stress mit Verpflegung der Besucher auf dem Messestand</li>
    </ul>

    <b> Einige Gründe für Ihre Teilnahme als Besucher der Suisse Municipal: </b>
    <ul>
      <li>
        Selbst testen und vergleichen aller Fahrzeuge auf dem grosszügigen
        Testgelände
      </li>
      <li>Viele führende Hersteller an einem Ort</li>
      <li>Fachgespräche mit Spezialisten</li>
      <li>Gratis Eintritt</li>
      <li>Besuchszeit von 09.00 – 20.00 Uhr</li>
    </ul>
    <p>Ein Besuch an der Suisse Municipal lohnt sich auf jeden Fall!</p>
  </div>
</section>
