---
title: Kontakt
lang: de
---

<section>
  <div class="container">
    <h1>Kontakt</h1>
    <p>Suisse Municipal</p>
    <p><a href="mailto:info@suissemunicipal.ch">info@suissemunicipal.ch</a></p>
  </div>
</section>
