---
title: Kontakt
description: >
  Kontakt zur Suisse Municipal info@suissemunicipal.ch
slug: /de/contact/
lang: de
---

<section>
  <div class="container">
    <h1>Kontakt</h1>
    <div>
      <h2>Suisse Municipal</h2>
      <p>
        Mail:
        <a href="mailto:info@suissemunicipal.ch">info@suissemunicipal.ch</a>
      </p>
    </div>
  </div>
</section>
