---
title: Home
description: >
  Die Suisse Municipal GmbH organisiert bewegte Messen. Dabei haben die Besucher 
  die Möglichkeit, die ausgestellten Maschinen / Fahrzeuge gleich vor Ort selbst 
  zu testen.
lang: de
---

<section>
  <div class="container">
    <div class="shows">
      <div class="show winter">
        <h2>Winter&shy;show 2022</h2>
        <h3>
          26. - 27. Januar 2022<br />
          Parkplatz der Säntis-Schwebebahn, Schwägalp
        </h3>
        <div class="right">
          <p>
            Schneefräsen, schneepflügen, schnee&shy;schleudern...<br />
            Fahrzeuge ausgiebig testen.
          </p>
          <a class="btn" href="/de/wintershow-2022/">Informationen</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-dark">
  <header>
    <div class="container">
      <h2>Vergangene Shows</h2>
    </div>
  </header>
  <div class="container">
    <div class="shows">
      <div class="show winter show2020">
        <h2>Winter&shy;show 2020</h2>
        <h3>
          22. - 23. Januar 2020 <br />
          6490 Andermatt
        </h3>
        <div class="right">
          <p>
            Schneefräsen, schneepflügen, schnee&shy;schleudern...<br />
            Fahrzeuge ausgiebig testen.
          </p>
          <a class="btn" href="/de/wintershow-2020/">Impressionen</a>
        </div>
      </div>

      <div class="show summer show2019">
        <h2>Suisse Municipal 2019</h2>
        <h3>
          25. – 26. September 2019 <br />
          Flugplatz St. Stephan
        </h3>
        <div class="right">
          <p>Kehren, schwemmen, mähen...<br />Fahrzeuge ausgiebig testen.</p>
          <a class="btn" href="/de/suisse-municipal-2019/">Impressionen</a>
        </div>
      </div>

      <div class="show winter show2019">
        <h2>Winter&shy;show 2019</h2>
        <h3>
          30. Januar 2019, Gurnigel, Rüschegg <br />
          31. Januar 2019, Elm, Panzerschiessplatz Wicheln
        </h3>
        <div class="right">
          <p>
            Schneefräsen, schneepflügen, schnee&shy;schleudern...<br />
            Fahrzeuge ausgiebig testen.
          </p>
          <a class="btn" href="/de/wintershow-2019/">Impressionen</a>
        </div>
      </div>
    </div>
  </div>
</section>
