---
title: Home
description: >
  Die Suisse Municipal GmbH organisiert bewegte Messen. Dabei haben die Besucher 
  die Möglichkeit, die ausgestellten Maschinen / Fahrzeuge gleich vor Ort selbst 
  zu testen.
lang: de
---

<div class="container">
  <div class="shows">
    <div class="show winter">
      <h2>Winter&shy;show</h2>
      <h3>
        30. Januar 2019, Gurnigel, Rüschegg <br />
        31. Januar 2019, Elm, Panzerschiessplatz Wicheln
      </h3>
      <div class="right">
        <p>
          Schneefräsen, schneepflügen, schneeschleudern...<br />
          Fahrzeuge ausgiebig testen.
        </p>
        <a class="btn" href="/de/wintershow-2019/">Weitere Informationen</a>
      </div>
    </div>

    <div class="show summer">
      <h2>Suisse Municipal 2019</h2>
      <h3>
        25. – 26. September 2019 <br />
        Flugplatz St. Stephan
      </h3>
      <div class="right">
        <p>Kehren, schwemmen, mähen...<br />Fahrzeuge ausgiebig testen.</p>
        <a class="btn" href="/de/suisse-municipal-2019/"
          >Weitere Informationen</a
        >
      </div>
    </div>
  </div>
</div>
