---
title: Anmeldung erhalten
description: >
  Vielen Dank für Ihre Anmeldung.
image: /img/wintershow.jpg
slug: /de/registration-received/
lang: de
---

<section class="winter show2022">
  <div class="container">
    <a class="back-link" href="/de/wintershow-2022">&#8592; Zurück</a>
    <h1>Anmeldung erhalten</h1>
  </div>
</section>

<section>
  <div class="container">
    <h2>Vielen Dank für Ihre Anmeldung!</h2>
  </div>
</section>
