---
title: Suisse Municipal 2019
lang: de
---

<section class="summer">
  <div class="container">
    <a class="back-link" href="/de">&#8592; Zurück</a>
    <h1>Suisse Municipal 2019</h1>
    <h3>
      25. – 26. September 2019 <br />
      Flugplatz St. Stephan
    </h3>
  </div>
</section>

<section>
  <div class="container">
    <h2>Hintergrund der Suisse Municipal</h2>
    <p>
      Die Suisse Municipal ist eine rein Kommunale Messe. Dabei steht das Testen
      der Fahrzeuge im Mittelpunkt. Alle Besucher erhalten die Möglichkeit, die
      Fahrzeuge / Maschinen auf dem grosszügigen Testgelände zu fahren und zu
      bedienen.
    </p>
    <h2>Wie funktioniert das?</h2>
    <p>
      Die Aussteller haben wie gewohnt einen Messestand mit der gewünschten
      Fläche von 4m&sup2; bis ca. 350m&sup2;. Auf dieser Ausstellungsfläche
      werden die Maschinen und Anbauteile ausgestellt. Die Besucher erhalten
      dann die Möglichkeit, mit einem Verantwortlichen des Messestands, eine
      Maschine auf das Testgelände testen zu gehen. Im Weiteren steht für alle
      Aussteller ein grosses Festzelt zur Verfügung. Bei diesem können die
      Besucher die von den Ausstellern verteilten Essensgutscheine einlösen.
      Auch um Fachgespräche oder Smalltalk zu führen wird genügend Platz
      vorhanden sein.
    </p>
    <p>Ihre Vorteile</p>
    <ul>
      <li>Persönlicher Kontakt mit Interessenten</li>
      <li>Die Vorteile Ihrer Maschine können Live vorgeführt werden</li>
      <li>Kein Stress mit Verpflegung der Besucher auf dem Messestand</li>
    </ul>

    <p>
      <a
        class="btn"
        href="/attachments/suisse-municipal-2019/Ausstellerreglement.pdf"
        >Reglement (PDF)</a
      >&nbsp; &nbsp;
      <a
        class="btn"
        href="/attachments/suisse-municipal-2019/Anmeldung-mit-Packeten-2019.pdf"
        >Anmeldung (PDF)</a
      >&nbsp; &nbsp;
    </p>
  </div>
</section>
