---
title: Wintershow 2020
description: >
  Erleben Sie professionelle Maschinen und Geräte live vor Ort im
  härtesten Wintereinsatz.
image: /img/wintershow.jpg
slug: /de/wintershow-2020/
lang: de
---

<section class="winter">
  <div class="container">
    <a class="back-link" href="/de">&#8592; Zurück</a>
    <h1>Wintershow 2020</h1>
    <h2>
      22. - 23. Januar 2020 <br />
      6490 Andermatt
    </h2>
  </div>
</section>

<section>
  <div class="container">
    <h2>Wintershow 2020</h2>
    <div class="cols">
      <div>
        <p>
          Erleben Sie professionelle Maschinen und Geräte live vor Ort im
          härtesten Wintereinsatz.
        </p>
        <p>
          Die Vorführungen mit warmer Verpflegung beginnen jeweils um 11 Uhr und
          finden bei jeder Witterung statt. Die Plätze sind gut ausgeschildert.
        </p>
        <h3>Ort und Datum</h3>
        <ul>
          <li>22. - 23. Januar 2020 in 6490 Andermatt</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <p>
      <a class="btn" href="/attachments/wintershow-2020/Ausstellerreglement.pdf"
        >Reglement (PDF)</a
      >&nbsp; &nbsp;
      <a
        class="btn"
        href="/attachments/wintershow-2020/Anmeldung_Wintershow_2020.pdf"
        >Anmeldung (PDF)</a
      >&nbsp; &nbsp;
    </p>
  </div>
</section>
