---
title: Wintershow 2021
description: >
  Erleben Sie professionelle Maschinen und Geräte live vor Ort im
  härtesten Wintereinsatz.
image: /img/wintershow.jpg
slug: /de/wintershow-2021/
lang: de
---

<section class="winter show2022">
  <div class="container">
    <a class="back-link" href="/de">&#8592; Zurück</a>
    <h1>Grosse Wintershow 2022</h1>
    <h2>
      26. - 27. Januar 2022<br />
      Parkplatz der Säntis-Schwebebahn, Schwägalp
    </h2>
  </div>
</section>

<section>
  <div class="container">
    <h2>Besuchen Sie die Wintershow 2022</h2>
    <p>
      Melden Sie sich heute noch an und erleben Sie professionelle Maschinen und
      Geräte live vor Ort im härtesten Wintereinsatz.
    </p>
    <p>
      Die Vorführungen beginnen jeweils um 11 Uhr und finden bei jeder Witterung
      statt. Der Platz ist gut ausgeschildert. Verpflegungsmöglichkeit vor Ort.
    </p>
    <p>Wir freuen uns auf Sie.</p>
    <h3 style="margin-top: 2em">NEU: Anreise bequem im Bus</h3>
    <ul>
      <li>ca. 07.30 Uhr ab Raststätte Grauholz</li>
      <li>ca. 08.30 Uhr ab Bahnhof Egerkingen</li>
      <li>ca. 09.30 Uhr ab Raststätte Neuenkirch (Rtg. Luzern)</li>
    </ul>
    <p style="margin-bottom: 4em">
      Andere Zusteige-Orte entlang der Route sind nach Vereinbarung möglich.
      Unkostenbeitrag 99 Franken. Anmeldeschluss Busfahrt: 17. Januar 2022,
      17.00 Uhr
    </p>
    <div class="card">
      <h3>Besuch anmelden</h3>
      <p>
        Melden Sie sich für Ihren Besuch gleich hier an.<br />
        <b>Anmeldeschluss: 17. Januar 2022 </b>
      </p>
      <form name="contact" netlify>
        <p>
          <label>Anzahl Personen</label>
          <input
            type="number"
            inputmode="decimal"
            name="amountOfPersons"
            required
          />
        </p>
        <p>
          <label>Name/Vorname</label>
          <input
            type="text"
            inputmode="text"
            autocomplete="name"
            name="name"
            required
          />
        </p>
        <p>
          <label>Mobiltelefon</label>
          <input
            type="tel"
            inputmode="tel"
            autocomplete="tel"
            name="phone"
            required
          />
        </p>
        <p>
          <label>Email</label>
          <input
            type="email"
            inputmode="email"
            autocomplete="email"
            name="email"
            required
          />
        </p>
        <p style="margin-bottom: 0.4em; margin-top: 2em">Besuchstag</p>
        <div>
          <input
            id="jan-26"
            type="radio"
            name="visitday"
            value="26.01.2022"
            required
          />
          <label for="jan-26">Mi. 26. Januar 2022</label>&emsp;
        </div>
        <div>
          <input id="jan-27" type="radio" name="visitday" value="27.01.2022" />
          <label for="jan-27">Do. 27. Januar 2022</label>
        </div>
        <p style="margin-bottom: 0.4em; margin-top: 2em">
          Ich/Wir beanspruche/n den Shuttledienst ab
        </p>
        <div>
          <input
            type="radio"
            id="noShuttle"
            name="shuttlebus"
            value="Kein Shuttle"
            checked
          />
          <label for="noShuttle">Keinen Shuttle</label>
        </div>
        <div>
          <input
            type="radio"
            id="grauholz"
            name="shuttlebus"
            value="Grauholz"
          />
          <label for="grauholz">Raststätte Grauholz</label>
        </div>
        <div>
          <input
            type="radio"
            id="egerkingen"
            name="shuttlebus"
            value="Egerkingen"
          />
          <label for="egerkingen">Bahnhof Egerkingen</label>
        </div>
        <div>
          <input
            type="radio"
            id="neuenkirch"
            name="shuttlebus"
            value="Neuenkirch"
          />
          <label for="neuenkirch">Raststätte Neuenkirch</label>
        </div>
        <p>
          <button style="font-size: 1.2em; font-weight: 600" type="submit">
            Anmeldung absenden
          </button>
        </p>
      </form>
    </div>
  </div>
</section>

<section class="section-dark">
  <div class="container">
    <h2>Aussteller werden!</h2>
    <p>Ihr Vorteil an einer Teilnahme an der Suisse Municipal Wintershop:</p>
    <ul>
      <li>Bekannteste und grösste Wintershow der Schweiz</li>
      <li>Spektakuläre Live-Show</li>
      <li>International besuchte Show</li>
      <li>Über 10'000 Kontakte werden angegangen</li>
      <li>Shuttle-Bus Service ab diversen Standorten in der Schweiz</li>
      <li>Attraktiver und zentraler Standort</li>
      <li>Gratis Parkplätze</li>
      <li>Aussteller-Apéro am ersten Abend</li>
    </ul>
    <h3>Dokumente</h3>
    <p>
      <a
        class="btn"
        href="/attachments/wintershow-2022/Anmeldung_Wintershow_2022.pdf"
        >Aussteller Anmeldung (PDF)</a
      >&nbsp; &nbsp;
    </p>
  </div>
</section>
