---
title: Wintershow 2019
description: >
  Erleben Sie professionelle Maschinen und Geräte live vor Ort im
  härtesten Wintereinsatz.
image: /img/wintershow.jpg
slug: /de/wintershow-2019
lang: de
---

<section class="winter">
  <div class="container">
    <a class="back-link" href="/de">&#8592; Zurück</a>
    <h1>Wintershow</h1>
    <h2>
      30. Januar 2019, Gurnigel, Rüschegg <br />
      31. Januar 2019, Elm, Panzerschiessplatz Wicheln
    </h2>
  </div>
</section>

<section>
  <div class="container">
    <h2>Wintershow</h2>
    <div class="cols">
      <div>
        <p>
          Erleben Sie professionelle Maschinen und Geräte live vor Ort im
          härtesten Wintereinsatz.
        </p>
        <p>
          Die Vorführungen mit warmer Verpflegung beginnen jeweils um 11 Uhr und
          finden bei jeder Witterung statt. Die Plätze sind gut ausgeschildert.
        </p>
        <h3>Ort und Datum</h3>
        <ul>
          <li>30. Januar 2019, Gurnigel, Rüschegg</li>
          <li>31. Januar 2019, Elm, Panzerschiessplatz Wicheln</li>
        </ul>
        <a class="btn" href="/attachments/wintershow-2019/Flyer_2019_DE.pdf"
          >Flyer (PDF)</a
        >
      </div>
      <div style="margin: 1em 0;">
        <img src="/img/wintershow-2019/logos-de.jpg" alt="Logos" />
      </div>
    </div>
  </div>
</section>
