---
title: Wintershow 2020
description: >
  Erleben Sie professionelle Maschinen und Geräte live vor Ort im
  härtesten Wintereinsatz.
image: /img/wintershow.jpg
slug: /de/wintershow-2020/
lang: de
---

<section class="winter">
  <div class="container">
    <a class="back-link" href="/de">&#8592; Zurück</a>
    <h1>Wintershow 2020</h1>
    <h2>
      Ort und Datum der Wintershow 2020 folgen...
    </h2>
  </div>
</section>

<section>
  <div class="container">
    <h2>Wintershow 2020</h2>
    <div class="cols">
      <div>
        <p>
          Erleben Sie professionelle Maschinen und Geräte live vor Ort im
          härtesten Wintereinsatz.
        </p>
        <p>
          Die Vorführungen mit warmer Verpflegung beginnen jeweils um 11 Uhr und
          finden bei jeder Witterung statt. Die Plätze sind gut ausgeschildert.
        </p>
        <h3>Ort und Datum</h3>
        <ul>
          <li>Ort und Datum der nächsten Wintershow folgen...</li>
        </ul>
      </div>
    </div>
  </div>
</section>
