---
title: Wintershow 2019
description: >
  Erleben Sie professionelle Maschinen und Geräte live vor Ort im
  härtesten Wintereinsatz.
image: /img/wintershow.jpg
slug: /de/wintershow-2019/
lang: de
images:
  - name: img1
    uri: /img/wintershow-2019/wintershow-2019-1.jpg
  - name: img2
    uri: /img/wintershow-2019/wintershow-2019-2.jpg
  - name: img3
    uri: /img/wintershow-2019/wintershow-2019-3.jpg
  - name: img4
    uri: /img/wintershow-2019/wintershow-2019-4.jpg
  - name: img5
    uri: /img/wintershow-2019/wintershow-2019-5.jpg
  - name: img6
    uri: /img/wintershow-2019/wintershow-2019-6.jpg
  - name: img7
    uri: /img/wintershow-2019/wintershow-2019-7.jpg
  - name: img8
    uri: /img/wintershow-2019/wintershow-2019-8.jpg
---

<section class="winter show2019">
  <div class="container">
    <a class="back-link" href="/de">&#8592; Zurück</a>
    <h1>Wintershow 2019</h1>
    <h2>
      30. Januar 2019, Gurnigel, Rüschegg <br />
      31. Januar 2019, Elm, Panzerschiessplatz Wicheln
    </h2>
  </div>
</section>

<section>
  <div class="container">
    <h2>Impressionen aus der Wintershow 2019</h2>
    <div class="cols">
      <% page.images.forEach(function(image) { %>
      <a href="#<%= image.name %>">
        <img src="<%= image.uri %>" />
      </a>
      <% }) %>
    </div>
  </div>
</section>

<!-- lightbox container hidden with CSS -->
<% page.images.forEach(function(image) { %>
<a href="#_" class="lightbox" id="<%= image.name %>">
  <img src="<%= image.uri %>" />
</a>
<% }) %>
